@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" id="move">Welcome</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Dj9qJsJTsjQ?autoplay=1" frameborder="0" allowfullscreen></iframe>
    
</div>
